.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: 62rem;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 3vw 0;
  }
}

.footer {
  color: var(--brown-6);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
