:root {
  /* Make sure to match with AmountInput `fontSize` variable */
  --defaultSize: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--brown-2);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .inputContainer {
    flex-direction: row;
  }
}

.label {
  text-align: center;
  padding: 0.5rem;
}

.input {
  background: transparent;
  text-align: center;
  font-size: var(--defaultSize);
  color: var(--brown-5);
  height: 100%;
  width: 100%;
  padding: 0.5rem 0;
  transition: var(--ease);
}

@media only screen and (min-width: 768px) {
  .input {
    padding: 2rem 0;
  }
}

input::placeholder {
  color: var(--hover-dark);
}

.input:focus {
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.txtWidth {
  font-size: var(--defaultSize);
  visibility: hidden;
  height: 0;
  opacity: 0;
  position: absolute;
  top: -100px;
  left: 0;
  white-space: nowrap;
}

.stepper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0.5rem;
  color: var(--brown-5);
  opacity: 0.5;
  padding: 0.75rem 0.5rem;
  transition: var(--ease);
}

@media (hover: hover) {
  .stepper:hover {
    opacity: 1;
  }
}

.stepper:active {
  opacity: 1;
}

.stepper svg {
  pointer-events: none;
  display: block;
}

.stepper svg:first-child {
  display: none;
}

@media only screen and (min-width: 768px) {
  .stepper svg:last-child {
    display: none;
  }
  .stepper svg:first-child {
    display: block;
  }
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 0.5rem;
  line-height: 1.25;
  padding: 0.5rem;
  transition: var(--ease);
  white-space: nowrap;
  width: 100%;
}

@media (hover: hover) {
  .select:hover {
    background-color: var(--brown-3);
  }
}

.select:active {
  background-color: var(--brown-3);
}

.popover {
  display: flex;
  flex-direction: column;
  background-color: var(--brown-1);
  border-radius: 0.75rem;
  padding: 0.5rem 0;
  box-shadow: 2px 0 8px var(--hover), 0 0 0 1px var(--hover);
  z-index: 10;
  opacity: 0;
  transform: translateY(-8px);
  transition: var(--ease);
}

.popover:focus {
  outline: none;
}

.popover[data-enter] {
  opacity: 1;
  transform: translateY(0);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  line-height: 1.25;
}

@media (hover: hover) {
  .item:hover {
    background-color: var(--brown-2);
  }
}

.item[data-active-item] {
  background-color: var(--brown-2);
}

.item small {
  font-size: 0.75em;
  margin-right: auto;
  opacity: 0.75;
  white-space: nowrap;
}

.item svg {
  flex-shrink: 0;
}
