.container {
  width: 100%;
  background-color: var(--brown-2);
  border-radius: 0.75rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0.75rem;
  padding: 1.125rem 1.25rem;
  transition: var(--ease);
  color: inherit;
  font-weight: inherit;
}

@media (hover: hover) {
  .title:hover {
    background-color: var(--brown-3);
  }
}

.title:active {
  background-color: var(--brown-3);
}

.title:focus {
  outline-color: var(--accent-1);
  outline-width: 2px;
}

.title:focus-visible {
  outline-style: solid;
}

.icon {
  transition: var(--ease);
}

.icon--rotate {
  transform: rotate(180deg);
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.75rem 2rem;
  padding: 0 2rem 1.25rem 1.25rem;
  user-select: auto;
}

.table {
  flex-shrink: 0;
  font-weight: 400;
}

.table td {
  padding: 0;
  line-height: 1.5;
}

.table td:first-child {
  padding-right: 1rem;
}

.note {
  opacity: 0.75;
  margin: 0.125rem 0;
  line-height: 1.5;
  max-width: 40em;
  font-size: 0.875rem;
  font-weight: 400;
}
