:root {
  --header-bg: var(--brown-5);
  --header-primary: var(--brown-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: var(--brown-2);
    --header-primary: var(--brown-5);
  }
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: center;
  background-color: var(--header-bg);
  color: var(--header-primary);
  height: 64px;
}

.left,
.right,
.center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

.description {
  display: none;
}

@media only screen and (min-width: 768px) {
  .description {
    display: block;
    margin: 0;
    opacity: 0.7;
  }
}
