.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: center;
  background-color: var(--brown-6);
  color: var(--brown-1);
  height: 64px;
}

.left,
.right,
.center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.description {
  display: none;
}

@media only screen and (min-width: 768px) {
  .description {
    display: block;
    color: var(--brown-4);
  }
}
