.button {
  background-color: var(--accent);
  border-radius: 100px;
  color: #fff;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--accent-light);
  }
}

.button:active {
  background-color: var(--accent-light);
}

.button svg {
  width: 1rem;
  height: 1rem;
  stroke-width: 2.5px;
}
