.container {
  display: flex;
  width: 100%;
}

.popover {
  display: flex;
  flex-direction: column;
  background-color: var(--brown-1);
  border: 1px solid var(--brown-2);
  border-radius: 8px;
  padding: 0.5rem 0;
  box-shadow: 2px 0 8px var(--shadow);
  z-index: 10;
  opacity: 0;
  transition: var(--ease);
}

.popover[data-enter] {
  opacity: 1;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 500;
  line-height: 20px;
}

.item:hover {
  background-color: var(--brown-2);
}
