.App {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.625rem 1.25rem;
  max-width: 560px;
}

@media only screen and (min-width: 800px) {
  #root {
    display: flex;
    height: 100vh;
  }

  .App {
    margin: auto;
  }
}

label {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

button, input {
  background-color: transparent;
  border: 1.5px solid var(--brown-5);
  border-radius: 0.5rem;
  color: var(--brown-5);
  font-weight: 500;
  font-family: inherit;
  padding: 0.5rem 1rem;
  transition: var(--ease);
}

button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
}

button:disabled {
  background-color: var(--brown-5);
  color: var(--brown-1);
}

button small {
  opacity: 0.75;
  font-size: 12px;
}

input {
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
  -moz-appearance: textfield;
}

input:focus {
  outline: 3px solid var(--accent-2);
  border-color: var(--accent-1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.group {
  display: flex;
  gap: 0.5rem;
}