@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
@import url('reset.css');

:root {
  --brown-1: #fff8f0;
  --brown-2: #f0e9e0;
  --brown-3: #e3d9ce;
  --brown-4: #d2cac1;
  --brown-5: #aea397;
  --brown-6: #7e7062;
  --brown-7: #403020;
  --accent: #ffa500;
  --accent-light: #ffb833;
  --shadow: rgba(0, 0, 0, 0.05);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --font: 'M PLUS Rounded 1c', sans-serif;
  --ease: all 0.2s ease;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --brown-1: #221c16;
    --brown-2: #2e261e;
    --brown-3: #3b3026;
    --brown-4: #473b2e;
    --brown-6: #efe8e1;
    --accent: #e69500;
    --accent-light: #ffa500;
    --shadow: rgba(255, 255, 255, 0.08);
    --shadow-dark: rgba(0, 0, 0, 0.3);
  }
} */

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--brown-1);
  color: var(--brown-7);
  font-family: var(--font);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
